/* ========================================== */
/*         This file is encoded UTF-8         */
/*      based on Display style: Babylone      */
/*          Inspired Solarized theme          */
/*                 ~ giải ngố                 */
/* ========================================== */

/**
 * Général
 */
 
* {
	font-family: sans-serif !important;
	line-height: 170% !important;
	/*-webkit-font-smoothing: antialiased;*/
}

html{
  background-color: white !important;
	color: #586e75 !important;
}

body {
	/* texte */
	text-align: justify;
	font-size: 1rem !important;
	line-height: 170% !important;
	
	color: #586e75 !important;
}


/**
 * Each acticle
 */

.gdarticle, .gdactivearticle /* active ou selected dictionnary */ { 
	padding: .3em;
	background-color: white !important;
}

.gddictname /* name of each dictionary */ { 
	border: 1px dotted #888a85;
	border-radius: 8px;
	font-size: 1em; /* texte */
	margin-top: 1em; /* outline */
}

.gddicticon, .collapse_expand_area { /* dictionary icon and collapse + expand */
	padding: 7px;
}

.gddicticon img {
	vertical-align: middle;
}

::selection, code::selection /* selected text */{ 
	color: #fdf6e3;
}

a:link {
	color: #d33682;
}

ul {
	color: #586e75;
}

.gdarticlebody font[color="blue"], .gdarticlebody font[color="#cc0000"] {
	color: #b58900;
}

.gdarticlebody font[color="#A50021"], .gdarticlebody font[color="navy"] {
	color: #586e75;
}

.gdarticlebody font[color="#0000CD"] {
	color: #657b83;
	margin-left: 1em !important;
}

.gdarticlebody p[align="center"] {
	display: none;
}



/**
 * Wiki
 */

.mwiki div.thumb {
	border-color: #fdf6e3 !important;
}

.mwiki #toc, .mwiki .toc, .mwiki .mw-warning, .mwiki table, .translations-cell {
}

div#toc.toc {
	display: none;
}

span.mw-editsection, table.noprint {
  display: none;
}


/**
 * Old Dictionaries using DSL format
 */
.gdarticlebody > span:first-child .dsl_headwords,
.gdarticlebody > h3:first-child {
	margin-top: -3px;
	display: none;
}

.gdspellsuggestion {
	margin-top: 1.5em; /* Add some vertical space before the article */
}

.dsl_headwords {
	display: none;
}

.dsl_m1 {
	color: #586e75 !important;
}

.dsl_m3 font[color="mediumvioletred"] {
	color: #586e75 !important;
}

.dsl_p {
	color: #b58900ff !important;
}

.dsl_b font[color="blue"] {
	color: #586e75 !important;
}

.dsl_opt {
 display: inline;
}

/**
 * OALD9 Dictionary ou Mdict
 */

.mdict,
.mdict ol,
.head-jump-pos,
.head-jump-entry,
.h-g,
sn-gs,
.sn-g,
.x-gs,
.xg,
.rx-g,
.x,
.num,
.def,
.label-g,
.collapse {
	color: #586e75 !important;
}

div .mdict {
	margin-top: 0px !important;
}

.mdict .if-gs {
	color: #dc322f !important;
}

.mdict .gram-g {
	color: #b58900ff !important;
}

.mdict .collapse,
.mdict .webtop-g {
	border-left: 3px solid #268bd2 !important;
}

.mdict .collapse .body .h1,
.mdict .collapse .body .deflist .li .eb {
	color: #dc322f !important;
}

.mdict .collapse .body .inline .li {
	color: #6c71c4 !important;
}

/** Fix numbered list **/
.mdict ol {
	list-style-type: none;
}

.mdict ol li {
	counter-increment: step-counter;
}

.mdict ol li::before {
	content: counter(step-counter);
	color: #dc322f !important;
	font-weight: bold;
}

.mdict td#C_C {
	color: #b58900 !important;
}



/** Fix phonetics **/

.mdict .phon {
	color: #dc322f !important;
	font-weight: bold;
}

/** Fix font lettre recherche **/
.mdict font[size="+2"] {
	font-size: 1.05em !important;
	font-weight: bold;
}

.mdict font[color="red"], .mdict font[color="blue"], .mdict font[color="#C80000"] {
	color: tomato !important;
	font-size: 1em;
}

.mdict font[color="red"] {
	display: none !important;
}


/**
 * Longman Dictionary 6
 */

.entry,
.example,
.collocate,
.collgloss,
.sense,
.neutral,
.exas li {
	color: #586e75 !important;
}

.hyphenation,
.homnum,
.frequent {
	color: #b58900 !important;
}

.pron,
.amevarpron {
	color: #dc322f !important;
	font-weight: bold;
}

.gram,
.registerlab {
	color: #268bd2 !important;
}

.propformprep,
.expr,
.colloc,
.collo,
.exp,
.display,
.nodeword {
	color: #d33682 !important;
}

.sensenum {
	color: #dc322f !important;
}

.collobox {
	border-color: #268bd2 !important;
}

.thesbox {
	border-color: #b58900 !important;
}

.grambox .expl,
.grambox .compareword,
.collobox .section,
.thesbox .section {
}

.secheading {
	background-color: #268bd2 !important;
}

table,
#definition_T_id,
#mh_n_T_id,
#mh_T_id,
#C_C {
	color: #586e75 !important;
}

#C_C font {
	color: #586e75 !important;
}


/**
 * dxdf Dictionary : .dict.dz, .idx, .ifo (Stardict)
 */
 
.sdct_headwords {
	display: none !important;
}


.xdxf_dtrn {
  	background: white;
	font-weight: normal !important;
	color: #586e75;
}

.sdct_x [style="color:firebrick"] {
	color: #b58900 !important;
	font-family: "Cantarell" !important;
}

.sdct_h font[face="Palatino Linotype"] {
	font-family: "Cantarell" !important;
}


/**
 * Scrollbars
 **/

::-webkit-scrollbar {
  background-color: white;
  width: 11px;
  overflow: auto
	-webkit-overflow-scrolling: touch;
	padding-right: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #363636;
  border-left: 6px solid white;
  border-right: 1px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 20px 11px 11px 20px;
  min-height: 30px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #363636;
  border: 2px solid white;
  border-radius: 19px;
} 

::-webkit-scrollbar-thumb:vertical:active {
  background: #0080ff;
}
