/* ========================================== */
/*     This file is encoded UTF-8             */
/*   based on Display style: Babylone         */
/*         ~ giải ngố                         */
/* ========================================== */


/**
 * Général
 */
 
* {
	font-family: "Noto Sans", "Han-Nom Gothic", sans-serif !important;
	line-height: 190% !important;
  -webkit-font-smoothing: antialiased;
}

html{
	background: #2e2e32 !important; 
	color: #ffffff !important;
}

body, tbody, div {	/* texte */
	/*text-align: justify;*/
	font-size: 18.5px !important;
	background: #2e2e32 !important;
  color: #ffffff !important;
}


/**
 * Each acticle
 */


.gdarticle, .gdactivearticle /* active ou selected dictionnary */ { 
	padding: .5em;
  background: #2e2e32 !important;
}

.gddicttitle {
	flex: 1;
	padding: 5px !important;
	background: none !important;
}

.gddicticon {
	padding: 5px !important;
	background: none !important;
}

.gddictname /* name of each dictionary */ { 
	border: 1px solid #55555555;
	border-radius: 35px 7px 50px 7px;
	background : #3f4446 !important;
	color: white !important;
	font-size: 1em; /* texte */
	font-weight: bold;
	padding: 5px 12px;
	margin: 1em 0; /* outline */
	display: flex;
	align-items: center;
}

.gdcollapseicon, .gdexpandicon, .gdcollapseicon:hover, .gdexpandicon:hover {
	padding: 5px !important;
	height: 12px;
	width: auto;
	margin-left: auto;
	margin-right: 5px;
}



.gddicticon img {
	vertical-align: middle;
}

a {
	color: lightskyblue !important;
}

a:visited {
	color: #97bf60 !important;
}

ul, span {
	color: white !important;
}

h3 {
	color: goldenrod !important;
}


img, video, iframe, embed, object {
    border-radius: 12px;
}


/*Từ điển Hán Nôm*/
header, div.ads-col, form#LookupForm.main-form, footer.small, div.info, div.hvres-nav-dock {
  display: none !important;
}

.hvres:not(.hvres-ads) {
  border-top: 1px dotted lightgray !important;
}

section, div#mw-related-navigation {
  margin: 0 !important;
}

.website-iframe {
    border-radius: 12px;
}

.ads-col {
    display: none !important;
}

/*Wiki Grec ancien*/
div#mw-header-container.ts-container, div#mw-header-nav-hack, div#mw-header-hack.color-bar, div#mw-footer-container.ts-container, div.website_padding, div#menus-cover, div#mw-site-navigation, div#mw-related-navigation, div#content-bottom-stuff, div.visualClear, div#siteNotice {
  display: none !important;
}

/* Tự Điển Chữ Nôm - 𡦂喃詞典 */

nav.col-md-3.menuhanviet.sidebar, footer.footer.mt-auto.py-3, div#advcenter, nav {display:none !important;}
.col-md-9 {flex: 0 0 100% !important;}

/**
 * OALD9 Dictionary ou Mdict
 */

.mdict,
.mdict ol,
.head-jump-pos,
.head-jump-entry,
.h-g,
sn-gs,
.sn-g,
.x-gs,
.xg,
.rx-g,
.x,
.num,
.def,
.label-g,
.collapse {
	color: #fefefe !important;
}

.mdict .headword {
  font-size: 1rem !important;
  font-weight: bold;
}

.mdict font[color="darkred"] {
	color: goldenrod !important;
}

.mdict font[color="darkred"]::before {
    content: "";
    display: block;
}

.mdict font[color="#225577"] {
	color: goldenrod !important;
}

.mdict font[color="purple"]{
	color: goldenrod !important;
}

.mdict font[color="darkmagenta"] {
	color: goldenrod !important;
}

.mdict font[color="darkolivegreen"] {
	color: #b49372 !important;
}

.mdict font[color="darkblue"] {
	color: lightgray !important;
}

.mdict font[color="#306090"] {
	color: #97bf60 !important;
}

.mdict font[color="#664466"]{
	color: lightgray !important;
}

.mdict font[color="navy"] {
	color: lightgray !important;
	font-style: italic !important;
}

.mdict font[color="olive"] {
	color: #97bf60 !important;
}

.mdict font[color="maroon"] {
	color: tomato !important;
}

.mdict font[color="#800080"] {
	color: tomato !important;
}

.mdict font[color="red"] {
	display: none !important;
}


div.cB, div.cB-e, div.dcCorpEx {
  border: none;
/*  border: 1px rgba(255, 255, 255, 0.13) dotted !important; */
  padding: 15px !important;
  border-radius: 12px;
}

div.cB.cB-e {
  border: 1px solid #696666 !important;
}

#Smith1854 table, th, td{
  border: 0px solid black;
}

span[color="navy"] {
	color: goldenrod !important;
}

a.popup-button, span.collocate, span.section, ul.exas li, span.body, h1.headword {
  background-color: #2e2e32 !important;
  color : white !important;
}

span.OALD_n-g {
  font-size: 1rem !important;
}

hr.hr_after_tittle_box {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

hr {
  border-top: 1px rgba(255, 255, 255, 0.13) solid !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
}


.mdict .row.vg-header {
  border-top: 1px rgba(255, 255, 255, 0.13) dotted !important;
}

.mdict .example_box blockquote {
  color: #b6b6b6 !important;
}

a.link-right.verbtable {
    background-color: unset !important;
}

.d_dvr:before {
  padding-right: 1em;
}

.d_dvr .d_dvn {
  padding: 10px !important;
}

img.soundpng {
    vertical-align: middle;
}

/**
 * dxdf Dictionary : .dict.dz, .idx, .ifo (Stardict)
 */


.xdxf_dtrn {
	background: #2e2e32 !important;
	color: #fefefe !important;
	font-weight: normal !important;
}

/* Cache tous les <br> consécutifs après le premier */

br {
    display: block;
    content: "";
    margin-bottom: 12px;
}

br + br {
    display: none;
}

br:has(+ span) {
    display: none;
}



font[color="black"] {
	color: white !important;
	font-weight: normal !important;
}

font[color="#993300"] {
	color: orchid !important;
}

font[color="#000099"] {
	color: orchid !important;
}

font[color="#660000"] {
	color: goldenrod !important;
}

font[color="Teal"] {
	color: goldenrod !important;
}

.sdct_x [style="color:darkslateblue"]{
	color: goldenrod !important;
}

.sdct_x [style="color:maroon"]{
	color: tomato !important;
}

.sdct_x [style="color:firebrick"]{
	color: white !important;
}

.sdct_x [style="color:darkmagenta"] {
	color: lightskyblue !important;
}

.sdct_x [style="color:red"] {
	margin-left: 1.5em;
}

.sdct_x [style="color:navy"] {
	color: olive !important;
	margin-left: 3em;
	padding-right: 5px;
	font-style: italic;
}

.sdct_x [style="color:tomato"] {
	color: #97bf60 !important;
}

.sdct_x [style="color:blue"] {
	color: orchid !important;
}

span font[size], blockquote font[size] {
    font-size: 1em !important;
}


/**
 * Old Dictionaries using DSL format
 */
 
.gdarticlebody > span:first-child .dsl_headwords,
.gdarticlebody > h3:first-child {
	margin-top: -3px;
	display: none;
}

.gdspellsuggestion {
	margin-top: 1.5em; /* Add some vertical space before the article */
}

.dsl_headwords {
	display: none;
}

.dsl_article, .dsl_definition, .dsl_ex, .dsl_lang, .dsl_u, .dsl_b, .dsl_i {
 color: white !important;
}

.dsl_opt {
  display: inline;
  font-style: italic !important;
  color: white !important;
}

.dsl_s_wav {
	filter: invert(100%) sepia(0%) saturate(255%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

b.dsl_b font[color="blue"] {
	color: tomato !important;
}

font[color="blue"] {
	color: white !important;
	font-style: italic !important;
	margin-left: 2em;
}

.dsl_m0 font[color="brown"] {
	color: tomato !important;
}

.dsl_m0 font[color="darkslategray"] {
	color: slategray !important;
}

.dsl_m0 font[color="darkmagenta"] {
	color: goldenrod !important;
}

.dsl_m1 font[color="darkgray"]{
	color: #64abdb !important;
}

.dsl_m1 font[color="dimgray"] {
	color: lightgray !important;
}

.dsl_m1 font[color="darkslategray"] {
	color: lightgray !important;
}

.dsl_m1 font[color="maroon"] {
	color: lightgray !important;
}

.dsl_m1 font[color="purple"]{
	color: #9C27B0 !important;
}

.dsl_m1 font[color="red"]{
    padding-left: 28px;
}

.dsl_m2 font[color="darkviolet"] {
	color: violet !important;
}

.dsl_m2 font[color="red"] {
	color: tomato !important;
}

.dsl_m2 font[color="green"] {
	color: tomato !important;
}

.dsl_m2 font[color="maroon"] {
	color: lightgray !important;
}

.dsl_m2 font[color="darkslategray"] {
	color: lightgray !important;
}

.dsl_m3 font[color="crimson"] {
	color: #fefefe !important;
}

.dsl_m3 font[color="darkslateblue"] {
	color: tomato !important;
}

.dsl_m3 font[color="dimgray"] {
	color: lightgray !important;
}

.dsl_m3 font[color="mediumvioletred"] {
	color: white !important;
	font-style: italic !important;
}

.dsl_m3 font[color="darkslategray"] {
	color: lightgray !important;
}

.dsl_m3 font[color="orangered"] {
	color: lightgray !important;
}

.dsl_m3 font[color="maroon"] {
	color: lightgray !important;
}

.dsl_m4 font[color="darkslategray"] {
	color: lightgray !important;
}

.dsl_m5 font[color="dimgray"] {
	color: lightgray/*lightblue*/ !important;
}

.dsl_p {
	color: #b58900ff !important;
}

.dsl_b font[color="blue"] {
	color: #586e75 !important;
}

.dsl_b font[color="darkslateblue"] {
	color: tomato !important;
}

.dsl_b font[color="darkslategray"]{
	color: #97bf60 !important;
}

.dsl_b font[color="dimgray"] {
	color: lightgray !important;
}

.dsl_b font[color="darkblue"] {
	color: lightgray !important;
}

.dsl_b font[color="maroon"] {
	color: tomato !important;
}

.dsl_i font[color="maroon"] {
	color: lightgray !important;
}

.dsl_lang font[color="darkblue"]{
 color: red !important;
}

.dsl_ref {
 color: lightblue !important;
}

.dsl_m1 {
    padding-left: 8px;
    padding-bottom: .1em;
    text-indent: 2em;
}

.dsl_m2 {
    padding-left: 18px;
    padding-bottom: .7em;
    text-indent: 4em;
}


/**
 * Wiki
 */

.mwiki div.thumb {
	border-color: #2e2e32 !important;
}

.mwiki #toc, .mwiki .toc, .mwiki .mw-warning, .mwiki table, .translations-cell {
	background-color: #2e2e32 !important;
}

.mwiki h1, .mwiki h2, .mwiki h3, .mwiki h4, .mwiki h5, .mwiki h6, th.navbox-group {
  color: white !important;
}

.mwiki h2 {
  border-bottom: 1px solid rgba(170, 170, 170, 0.04);
}

.mwiki div.NavFrame {
  border: 1px solid rgba(170, 170, 170, 0.4);
}

.mwiki code {
  background-color: transparent;
}

.bandeau-container.metadata.bandeau-article.bandeau-niveau-modere, .bandeau-container.metadata.bandeau-article.bandeau-niveau-ebauche, .plainlinks.bandeau-niveau-ebauche.bandeau {
  display: none;
}

.mwiki .infobox {
  display: table;
  border-radius: 10px;
  padding: 10px;
  max-width: 50%;
  float: right;
}

.mwiki .infobox caption {
  border-radius: 10px;
  margin-top: 5px;
}

.side-box.side-box-right.plainlinks.sistersitebox, div#disambigbox, ul.noprint.portalbox.portalborder.portalright, div#setindexbox, .interproject-box.sister-wikipedia.sister-project.noprint.floatright, .side-box.side-box-right.plainlinks.selfreference {
  display: none;
}

.navbox {
    display: none;
}


img.mw-file-element.mw-file-upright {
  display: block;
  margin: 0 auto;
}

.bandeau-container.bandeau-section.metadata.bandeau-niveau-information {
  display: inline-flex;
  margin: 7px;
}

.bandeau-cell {
    display: inline;
    padding-right: 15px;
}

p.navbar.bordered.noprint {
  display: none;
}

p.bloc, caption {
  background-color: #333333 !important;
  border-radius: 5px;
}

div.infobox_v3.infobox.infobox--frwiki.noarchive.large.taxobox_v3.zoologie.animal.bordered {
  border-radius: 20px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: .9em !important;
  font-style: italic !important;
}

div#toc.toc {
	display: none;
}

div.NavHead {
	background-color: #3A3E4050 !important;
}

th, tr, td {
	background-color: #2e2e32 !important;
}

th.invisible {
    display: none;
}

div.thumbcaption {
	color: lightgray !important;
}

abbr {
	color: lightblue !important;
}

bdi {
  color: lightgray !important;
}

span.mw-editsection, table.noprint {
  display: none;
}

h2 {
  color: white !important;
}

.mwiki div.NavFrame {
    border-radius: 12px;
    margin-bottom: 7px;
}

.mwiki div.NavFrame div.NavHead {
    border-radius: 9px;
    height: auto;
}

.mwiki .wikitable th, .mwiki .wikitable td, .mwiki .prettytable th, .mwiki .prettytable td {
    padding: .2em .5em;
}

.mwiki div.thumbinner {
    border-radius: 12px;
}

li.gallerybox {
    display: inline-table;
}

ul.center.gallery.mw-gallery-traditional {
    display: inline-flex;
    margin-top: 1em;
}

.mwiki *.center * {
    margin-left: auto;
    margin-right: auto;
    display: block;
}




.mwiki ol.references {
  max-height: 120px;
  overflow: hidden;
  position: relative;
  padding-top: 40px;
  margin-right: 10em;
  transition: max-height 1s ease;
  font-size: .9em;
}

.mwiki ol.references:hover {
  max-height: 9999px;
}

.mwiki ol.references::before {
  content: "▼ Afficher les références";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 0;
  font-weight: 600;
  background: inherit;
  cursor: pointer;
}

.mwiki ol.references:hover::before {
  content: "▲ Masquer les références";
}

body:not(.mw-mf) .mw-parser-output .reference-cadre {
    height: auto !important;
    border: none !important;
}


ul#bandeau-portail, .noprint.boite-grise.boite-a-droite {
    display: none;
}


/**
 * .bgl
 */
 
div font[color="#0000CD"]{
	color: lightgray !important;
}

div font[color="#B22222"]{
	color: #97bf60 !important;
}

div font[color="#556B2F"]{
	color: #b49372 !important;
}

div font[color="#A50021"]{
	color: #fefefe !important;
}

div font[color="#74726D"]{
	color: #fefefe !important;
}

div font[color="#74726D"]{
	color: goldenrod !important;
}

div font[color="blue"]{
	color: white !important;
}

div font[color="#A50021"]{
	color: lightgray !important;
}

div font[color="#cc0000"]{
	color: white !important;
}

p[align="center"]{
	display: none !important;
}

fieldset {
  border-width: 1px;
  border-radius: 12px;
}


/**
 * Từ điển Lạc Việt
 */
 
table, #definition_T_id, #mh_n_T_id, #mh_T_id, #C_C {
 color: white !important;
}

#C_C font {
 color: lightgray !important;
}


/**
 * Scrollbars
 **/
/*
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background: #2e2e32;
  border-radius: 3px;
}

::-webkit-scrollbar:hover{
  background: #30303050;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb{
  min-height: 40px;
  min-width: 40px;
  background: grey;
  border-radius: 5px;
  border-left: 3px solid #2e2e32;
  border-right: 2px solid #2e2e32;
  border-top: 3px solid #2e2e32;
  border-bottom: 2px solid #2e2e32;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active{
  background: #0080ff;
  border-radius: 4px;
  border: 0 solid #2e2e32;
}
*/


::-webkit-scrollbar {
  background-color: #2e2e32;
  width: 11px;
  overflow: auto
	-webkit-overflow-scrolling: touch;
	padding-right: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #a4a4a3;
  border-left: 7px solid #2e2e32;
  border-right: 1px solid #2e2e32;
  border-top: 2px solid #2e2e32;
  border-bottom: 2px solid #2e2e32;
  min-height: 50px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #0080ff;
  border: 2px solid #2e2e32;
  border-radius: 19px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: #0080ff;
}



::-webkit-scrollbar:horizontal {
  background-color: #2e2e32;
  height: 11px;
  overflow: auto
	-webkit-overflow-scrolling: touch;
	padding-right: 10px;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #a4a4a3;
  border-top: 7px solid #2e2e32;
  border-bottom: 1px solid #2e2e32;
  border-left: 2px solid #2e2e32;
  border-right: 2px solid #2e2e32;
  min-width: 50px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #0080ff;
  border: 2px solid #2e2e32;
  border-radius: 19px;
}

::-webkit-scrollbar-thumb:horizontal:active {
  background: #0080ff;
}
