/* ========================================== */
/*         This file is encoded UTF-8         */
/*          Inspired Oblivion theme           */
/*                 ~ giải ngố                 */
/* ========================================== */

 
* {
  line-height: 170% !important;
}

MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList, MainWindow #dictionariesList, MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList, MainWindow #dictsPane #dictsList, MainWindow #historyPane #historyList, MainWindow #favoritesPane #favoritesTree {
	background: #222226 !important;
	color: #ffffff !important;
}

MainWindow {
	background: #222226 !important;
	color: #ffffff !important;
}

MainWindow #menubar::item:pressed {
  border-bottom: 3px solid #15539e;
  padding-bottom: -3px;
  color: #3992cd;
}

