/* ========================================== */
/*         This file is encoded UTF-8         */
/*          Inspired Oblivion theme           */
/*                 ~ giải ngố                 */
/* ========================================== */

* {
  font-family: NotoSans, "Noto Sans", sans-serif;
  font-size: 10.5pt;
}

MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList, MainWindow #dictionariesList, MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList, MainWindow #dictsPane #dictsList, MainWindow #historyPane #historyList, MainWindow #favoritesPane #favoritesTree {
	background: #2e3436;
	color: #ffffff;
}
